* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#main-header {
  background-color: #e7e7e7;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-weight: bold;
  font-size: 1rem;
}

#list {
  padding: 0;
  margin: 0;
  list-style: none;
}

#pop-list {
  list-style: none;
}

#title-select {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

#login-btn {
  padding: 0.5rem;
  cursor: pointer;
}

#my-info-btn {
  padding: 0.5rem;
  cursor: pointer;
}

#logo {
  width: 3rem;
  height: 3rem;
}

#main-container {
  width: 100%;
  align-self: center;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 40rem;
}

#bottom-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-container>header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.list-container>header>button {
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: white;
  font-weight: bold;
  color: black;
}

.list-container>header>p {
  font-weight: bold;

}

#free-post-container {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.post-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.25;
  cursor: pointer;
}

.post-list>p {
  font-weight: bold;
  font-size: 0.875rem;
}

.post-list>div>span {
  font-size: 0.75rem;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-btn {
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: white;
  font-weight: bold;
}

#modal-container {
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#logout-btn {
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid black;
}